#null{
    display: list-item;
    list-style-position: inside;
    list-style-image: url("/img/icons/folders.png");
    line-height:15px;
}

ul {
    margin: 0px;
}

input {
    padding: 0px;
    margin-right: 1px;
    position: relative;
    bottom: 11px;
    left: 2px;
    cursor: pointer;
    width: 8px;
}

li{
    list-style-position: outside;
    list-style-image: url("/img/icons/folder.png");

}
div {
    position: relative;
    bottom: 5px;
    display: inline-block;
}

div:focus {
    outline-color: black;
    outline: 1px solid;
}

.download{
    list-style-image: url("/img/icons/download.png");
}



